body {
  background-color: white;
  margin: 0;
}
caption{
    background-color: yellowgreen;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border: 2px solid black;
}
table{
    width: 94%;
    margin-left: 3%;
    margin-top: 2em;
    background-color: olivedrab;
}
table,
td {
  border: 0px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;

}
tbody p{
    background-color: red;
    width: 100%;
    margin: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 0, 0);
}
.wid{
    width: 30%;
    background-color: royalblue;
    padding-top: 7px;
    padding-bottom: 7px;
    word-break: break-all;
    font-weight: bold;
    color: white;
}
.elsewid{
    width: 70%;
    padding-top: 7px;
    padding-bottom: 7px;
}